# Exclude directories
_Heatmaps/
_normalized-heatmaps/
_Sparse-representations/
Belgium-Jupiler-Pro-League/
Brazil-Brasileirão/
England-Championship/
England-League-One/
England-League-Two/
England-Premier-League/
France-Ligue-1/
Germany-2-Bundesliga/
Germany-Bundesliga/
Italy-Serie-A/
Netherlands-Eredivisie/
Portugal-Liga-Portugal/
Scotland-Premiership/
Spain-LaLiga/
Turkey-SuperLig/
USA-Major-League-Soccer/

# Exclude specific files
3d tensor pass structure.rtf
aerial.csv
carries.csv
open-play-crosses.csv
open-play-passes.csv
open-play-shots.csv
recoveries.csv
tackles.csv
take-on.csv
Experiments.rtf
minutes-played.csv
minutes-played_filtered.csv
normalization-question.rtf
_Heatmaps/test.csv
_Heatmaps/train.csv
_Heatmaps/validation.csv